*{
}
body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'roboto condensed', sans-serif;
    font-size: 13px;
}
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 10px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 400px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}


/* CSS đã chỉnh sửa */
.image-container {
    text-align: center;
    overflow: hidden;
}

.image-container img {
    width: 200px;
    height: 220px;
}

.container {
    position: relative;
    width: 100%;
}

.input-upload[type="file"] {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* opacity: 0; */
    width: 100%;
    height: 100%;
    cursor: pointer;


}


.label-upload {
    background-color: #025bee;
    color: #ffffff;
    font-size: 14px; /* Giảm kích thước font */
    text-align: center;
    padding: 10px 0; /* Giảm padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn__add :hover {
    background: linear-gradient(90deg, #87BCF5 0%, #3863E2 100%);
}
/* Button search */
.btn__search {
    background: linear-gradient(90deg, #649FDE 0%, #2B4DB5 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 8px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    width: 50%;
}
.btn__search :hover {
    background: linear-gradient(90deg, #87BCF5 0%, #3863E2 100%);
}
.btn__add {
    background: linear-gradient(90deg, #649FDE 0%, #2B4DB5 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 8px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}
.btn__add :hover {
    background: linear-gradient(90deg, #87BCF5 0%, #3863E2 100%);
}
